<!doctype html>
<html>
  <head>
    <title>Registration Confirmation</title>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/static/js/add_message.js"></script>
    <style>

      body {
        margin: 20px;
      }

      .chat {
        padding: 10px;
      }

      .window {
        height: 400px;
        width: 600px;
        border: 1px black solid;
      }

      .feed {
        height: 395px;
        overflow: auto;
      }

    </style>
  </head>
  <body>

    <h1>Hello {{ user_email }}!</h1>

    <br>

    <div class="chat">
      <div class="window">
        <div id="feed" class="feed">
          {% if messages %}
            {% for message in messages %}
              <p>{{ message.content }} -- {{message.user.email}}</p>
            {% endfor %}
          {% endif %}
        </div>
      </div>
      <br>
      <form action="/add_message" method="POST">
        <input id="formMessage" type="text" name="message">
        <input class="add" type="submit">
      </form>
    </div>

  </body>
</html>